
@import "./assets/scss/functions";
@import "./assets/scss/variables";
@import "./assets/scss/mixins";
// @import "./assets/scss/root";
@import "./assets/scss/reboot";
// @import "./assets/scss/type";
@import "./assets/scss/images";
@import "./assets/scss/grid";
@import "./assets/scss/forms";
@import "./assets/scss/buttons";
// @import "./assets/scss/transitions";
@import "./assets/scss/dropdown";
@import "./assets/scss/input-group";
// @import "./assets/scss/custom-forms";
@import "./assets/scss/nav";
@import "./assets/scss/navbar";
@import "./assets/scss/card";
@import "./assets/scss/breadcrumb";
@import "./assets/scss/pagination";
// @import "./assets/scss/badge";
// @import "./assets/scss/jumbotron";
@import "./assets/scss/alert";
// @import "./assets/scss/list-group";
@import "./assets/scss/toasts";
@import "./assets/scss/modal";
@import "./assets/scss/popover";
@import "./assets/scss/spinners";
@import "./assets/scss/utilities";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
