$primary: #00a1ff;
$white: #FFF;
$light-bg: #f3f3f3;
$black: #3a3a3a;
$hover : #2592e7;

$theme-colors: (
  "primary": $primary
);


@import "./assets/scss/functions";
@import "./assets/scss/variables";
@import "./assets/scss/mixins";
// @import "./assets/scss/root";
@import "./assets/scss/reboot";
// @import "./assets/scss/type";
@import "./assets/scss/images";
@import "./assets/scss/grid";
@import "./assets/scss/forms";
@import "./assets/scss/buttons";
@import "./assets/scss/transitions";
@import "./assets/scss/dropdown";
@import "./assets/scss/input-group";
// @import "./assets/scss/custom-forms";
@import "./assets/scss/nav";
@import "./assets/scss/navbar";
@import "./assets/scss/card";
@import "./assets/scss/breadcrumb";
@import "./assets/scss/pagination";
// @import "./assets/scss/badge";
// @import "./assets/scss/jumbotron";
@import "./assets/scss/alert";
// @import "./assets/scss/list-group";
@import "./assets/scss/toasts";
@import "./assets/scss/modal";
@import "./assets/scss/popover";
@import "./assets/scss/spinners";
@import "./assets/scss/utilities";
@import "./assets/scss/carousel";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar{
  background-color: $primary;
  display: flex;
  justify-content: space-around;
  .navbar-brand{
    color: $white;
    font-weight: 700;
    display: flex;
    align-items: center;
    &:hover{
      color: $white;
    }
  }
  .nav-link{
    color: $white !important;
    padding: 0px;
  }
  .nav-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 10px;
    cursor: pointer;
    transition: all .3s;
    &:hover{
      background-color: $hover;
      border-radius: 8px;
    }
  }
}

.searchContainer{
  width: 35%;
  display: flex;
  position: relative;
  input{
    border-radius: 25px;
    border: none;
    padding-left: 20px;
    padding-right: 45px;
  }
  .searchIconContainer{
    position: absolute;
    right: 10px;
    background-color: $primary;
    height: 80%;
    margin: 4px -6px;
    padding: 0px 10px;
    border-radius: 18px;
    cursor: pointer;
    transition: all .3s;
    &:hover{
      background-color: $hover;
    }
  }
}

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
  left: -85px;
}

.navbar-collapse {
  flex-grow: unset;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 9;
}

.layout{
  background-color: $light-bg;
  margin-top: 59px;
}

.categories{
  display: flex;
  justify-content: center;
  position: relative;
  padding: 7px;
  .category {
    margin-bottom: 4px;
    padding: 0px 40px;
    cursor: pointer;
    transition: all .3s;
    &:hover{
      color: $hover;
    }
    span{
      font-size: 15px;
      font-weight: 500;
    }
  }
}

.card{
  border: none;
  .heading{
    text-align: center;
    border-bottom: 1px solid #EEE;
    margin-bottom: 15px;
    padding-bottom: 5px;
  }
  .footer{
    text-align: center;
    margin-top: 10px;
    padding-top: 5px;
  }
}

.card-hover{
  transition: all.3s;
  &:hover{
    box-shadow: 0 0.5rem 1rem rgba(58, 58, 58, 0.15) !important;
  }
}

.slider{
  scroll-behavior: smooth;
  overflow: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.slider::-webkit-scrollbar {
  display: none;
}

// Responsive
@include media-breakpoint-down(xs){
  .bg-primary .container{
    padding: 0px;
  }
  .searchContainer{
    width: 270px;
    margin-left: 0px;
  }
  .navbar-toggler{
    border: none;
    font-size: 16px;
  }
  .brandName{
    display: none;
  }
  .navbar{
    .navbar-nav{
      flex-direction: row;
      justify-content: space-around;
    }
    .nav-item{
      width: auto;
    }
    .navbar-collapse{
      margin-top: 10px;
    }
    .dropdown:hover .dropdown-menu {
      position: absolute;
    }
    .navbar-brand{
      margin-right: 0px;
      svg{
        margin-right: 0px !important;
      }
    }
    .navbar-toggler{
      padding: 0px;
    }
  }
  .categories{
    width: 100%;
    overflow: scroll;
  }
  .layout{
    margin-top: 55px;
  }
}